@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--background-color1: #f4ccff;
	--background-color2: #88a1fb;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-color2);
	background: -webkit-linear-gradient(
		90deg,
		var(--background-color2) 0%,
		var(--background-color1) 100%
	);
	background: linear-gradient(
		90deg,
		var(--background-color2) 0%,
		var(--background-color1) 100%
	);
} */
